
<div class="panel panel-default">
  <div class="panel-heading">All Pizzas</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>View/Edit</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% @pizzas.each do |pizza| -%>
      <tr>
        <td><a href="/pizza/edit/<%= pizza['id'] %>">[edit]</a></td>
        <td><%= pizza['name'] %></td>
        <td><%= pizza['description'] %></td>
      </tr>
      <% end -%>
    </table>
  </div>
</div>
